---
import { Image } from 'astro:assets';

import Highlight from '../highlight.astro';

import avatar from '@/assets/avatar.png';
import twitter from '@/assets/twitter-icon.png';
import linkedin from '@/assets/linkedin-icon.png';

const { title, highlight } = Astro.props;

const experience = (new Date()).getFullYear() - 2013;
---
<section class="flex flex-col md:flex-row md:justify-between md:gap-x-24 py-6 mt-6">
  <div>
    <h1 class="text-3xl font-bold">
      {title + ' '} <Highlight>{highlight}</Highlight>
    </h1>
    <section class="mt-6 text-xl leading-9">
      <p>
        Mi nombre es Javier, ingeniero de software con {experience} a침os de experiencia desarrollando backend, frontend e infraestructura.
      </p>
      <p class="mt-6">
        Con gran gusto a proyectos open source, la colaboraci칩n en equipos de desarollo y las buenas pr치cticas que hacen que leer c칩digo sea una excelente experiencia.
      </p>
    </section>
    
    <div class="mt-3 flex gap-1">
      <a href="/">
        <Image class="h-12 w-12 hover:translate-y-1" src={twitter} alt="Twitter icon" loading="lazy" />
      </a>
      <a href="/">
        <Image class="h-12 w-12 hover:translate-y-1" src={linkedin} alt="Linkedin icon" loading="lazy">
      </a>
    </div>
  </div>
  <div class="shrink-0">
    <Image src={avatar} alt="Avatar image" loading="lazy" width={170} style="filter: drop-shadow(0 0 0.75rem #16b8eb); transform: scale(-1,1);">
  </div>
</section>