---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { randomBetween } from '@/utils/numbers'

const { projects } = Astro.props;

const tagClasses = [
  'rounded-md',
  'px-2',
  'py-1',
  'text-xs',
  'font-semibold',
];

const tagColors = [
  ['bg-fuchsia-400', 'text-fuchsia-900'],
  ['bg-lime-400', 'text-lime-900'],
  ['bg-sky-400', 'text-sky-900'],
  ['bg-rose-400', 'text-rose-900'],
];

const tagMap: {[key: string]: string[]} = {};

[...new Set(projects.map((project: CollectionEntry<'projects'>) => project.data.tags).flat())]
  .forEach((tag) => {
    tagMap[tag] = [...tagClasses, ...tagColors[randomBetween(0, tagColors.length -1)]]
  });

console.log(tagMap);


---

<section class="py-6">
  <header class="mb-6 text-2xl font-bold">
    Recent 
    <span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">
      Projects
    </span>
  </header>
  
  <section class="flex flex-col gap-6">
    {projects.map(project => (
      <div class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row hover:shadow-md hover:shadow-slate-950 hover:duration-75 transition-shadow">
      <div class="shrink-0">
        <a href="#">
          <Image src={project.data.image.src} alt={project.data.image.alt} loading="lazy" width={90} height={90} />
        </a>
      </div>
      <div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a class="hover:text-cyan-400" href="/">
            <div class="text-xl font-semibold">
              {project.data.title}
            </div>
          </a>
          <div class="ml-3 flex gap-2">
            {project.data.tags.map(tag => (
              <div class:list={tagMap[tag]}>
              { tag }
            </div>
            ))}
          </div>
        </div>
        <p class="mt-3 text-gray-400">
          {project.data.description}
        </p>
      </div>
    </div>
    ))}
  </section>


</section>