---
import { format } from '@/utils/dates';

import { routes } from '@/utils/routes';

const { post } = Astro.props;
---

<a class="hover:shadow-md hover:shadow-slate-950 hover:duration-75 transition-shadow" href={routes.blog + '/' + post.slug}>
  <div class="overflow-hidden rounded-md bg-slate-800">
    <div class="aspect-w-3 aspect-h-2">
      <img class="h-full w-full object-cover object-center" src={post.data.image.src} alt={post.data.image.alt} loading="lazy">
    </div>
    <div class="px-3 pt-4 pb-6 text-center">
      <h2 class="text-xl font-semibold">
        {post.data.title}
      </h2>
      <div class="mt-1 text-xs text-gray-400">
        {format(post.data.publishedAt)}
      </div>
      <div class="mt-2 text-sm">
        {post.description}
      </div>
    </div>
  </div>
</a>